
/* ----------------------------------------------------------------
 * layout.css
 * 
 * All custom css comes over here
 * ---------------------------------------------------------------- */

/* ----------------------------------------------------------------
 * GENERAL
 * ---------------------------------------------------------------- */
.limiter {
	width:70%;
	margin: 0 auto;
}

/* ----------------------------------------------------------------
 * MISC PAGES
 * ---------------------------------------------------------------- */
.dropdown-toggle {
    width:110px;
}
.dropdown-menu {
    min-width:110px;
}